<?xml version="1.0" encoding="UTF-8"?>
<multipart-config>
    <max-file-size>5242880</max-file-size> <!-- 5MB -->
    <max-request-size>10485760</max-request-size> <!-- 10MB -->
    <file-size-threshold>1048576</file-size-threshold> <!-- 1MB -->
</multipart-config>

<!--<servlet>
    <servlet-name>SalvarProduto</servlet-name>
    <jsp-file>/salvarProduto.jsp</jsp-file>
    <multipart-config>
        <max-file-size>10485760</max-file-size>
        <max-request-size>52428800</max-request-size>
        <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
</servlet>

<servlet-mapping>
    <servlet-name>SalvarProduto</servlet-name>
    <url-pattern>/salvarProduto</url-pattern>
</servlet-mapping>-->